.buttons {
  font-size: 30px;
  margin: 10px;
  border-radius: 7px;
  padding: 10px 10px 5px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 255, 98, 0.377);
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.buttons:hover {
  background-color: rgba(0, 255, 98, 0.568);
}
.buttons:disabled {
  background-color: rgb(58, 58, 58);
  color: gray;
  cursor: default;
}
